<footer class="footer">
 <div class="upper-footer">
    <div class="about">
        <h3>About Section</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Culpa debitis quos obcaecati soluta quidem dolorem! Nobis
              mollitia atque deleniti laborum sunt provident voluptatibus 
              dignissimos delectus ut autem quae sed, quisquam, architecto corrupti, 
              maiores veniam iusto minima corporis. Quam dolorum aut praesentium odio. Assumenda sequi ullam corrupti optio, ea eos facere!</p>
    </div>
    <div class="contact">
        <h3>Contacts</h3>
        <ul style="list-style: none;">
            <li><a href=""><i class="bi bi-phone-flip"></i></a> +91-9876453637</li>
            <li><a href=""><i class="bi bi-whatsapp"></i></a> +91-87696758585</li>
            <li><a href=""><i class="bi bi-envelope-at-fill"></i></a>{{email}}</li>
        </ul>
    </div> 
    <div class="last">
        <h3>Services Links</h3>
        <ul>
            <li class="last-links">Home</li>
            <li class="last-links">About</li>
            <li class="last-links">Contacts</li>
            <li class="last-links">Service</li>
            <li class="last-links">Track status</li>
        </ul>
    </div>
 </div>
 <div class="lower-footer">
    <ul class="social">
        <li class="social-links"><i class="bi bi-facebook"></i></li>
        <li class="social-links"><i class="bi bi-whatsapp"></i></li>
        <li class="social-links"> <i class="bi bi-linkedin"></i></li>
        <li class="social-links"><i class="bi bi-twitter"></i></li>
    </ul>

 </div>
</footer>
