<div class="main-section">
  <h2>Contact</h2>
    <div class="contact">
        <div class="mb-3">
           <input type="text" class="form-control" id="name" placeholder="Enter Name">
         </div>
         <div class="mb-3">
           <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
         </div>
         <div class="mb-3">
           <input type="text" class="form-control" id="number" placeholder="Enter Contact">
         </div>
         <div class="mb-3">
           <textarea class="form-control" id="message" rows="3"></textarea>
         </div> 
         <div>
          <button  type="button"  class="contact-btn">Contact Here</button>
        </div> 
   </div>
</div>
